.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    justify-content: center;
    gap: 17rem;
  }
  .header h1{
    color:hsl(0, 0%, 98%);
  }
  
  .img-light {
    background-image: url('./../../images/icon-moon.svg');
    background-repeat: no-repeat;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    
  }

  .img-dark {
    background-image: url('./../../images/icon-moon.svg');
    background-repeat: no-repeat;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
  }
