.todo-form{
    display: grid;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
}

.todo-input{
    display: relative;
    width: 25rem;
    border-radius: 5px;
    height: 2.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
.todo-input:before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    border: solid 1px;
    border-radius: 50%;
    border-color: gray;
    top: 20%;
    left: 2%;

}
.filter::placeholder {
    color: gray;
    position: relative;
 }


