body{
  --main-color: hsl(220, 98%, 61%);
  --main-background-light: hsl(0, 0%, 98%);
  --main-color-light: hsl(236, 33%, 92%);
  --main-background-dark: hsl(280, 87%, 65%);
}

.todo-app {
  background-size: cover;
  font-family: 'Josefin Sans', sans-serif;
  background-color: hsl(0, 0%, 98%);
  height: 100vh  

  
}
.img-light{
  background-image: url('./../images/bg-desktop-light.jpg');
  z-index: 0;
  height: 40vh;

  


}

/* .header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  justify-content: space-between;
  width: 25rem;
}
.header h1{
  color:white;
}

.icon-white {
  background-image: url('./../images/icon-sun.svg');
  background-repeat: no-repeat;
  height: 2rem;
  width: 2rem;

} */